<%= form_for(issue_type) do |f| %>
  <% if issue_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(issue_type.errors.count, "error") %> prohibited this issue_type from being saved:</h2>

      <ul>
      <% issue_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :color %>
    <%= f.text_field :color %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
