<p id="notice"><%= notice %></p>

<h1>Created Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @created_users.each do |created_user| %>
      <tr>
        <td><%= created_user.name %></td>
        <td><%= link_to 'Show', created_user %></td>
        <td><%= link_to 'Edit', edit_created_user_path(created_user) %></td>
        <td><%= link_to 'Destroy', created_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Created User', new_created_user_path %>
