<%= form_for(issue) do |f| %>
  <% if issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
      <% issue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :summary %>
    <%= f.text_field :summary %>
  </div>

  <div class="field">
    <%= f.label :component_id %>
    <%= f.number_field :component_id %>
  </div>

  <div class="field">
    <%= f.label :created_user_id %>
    <%= f.number_field :created_user_id %>
  </div>

  <div class="field">
    <%= f.label :component_id %>
    <%= f.number_field :component_id %>
  </div>

  <div class="field">
    <%= f.label :updated_on %>
    <%= f.date_select :updated_on %>
  </div>

  <div class="field">
    <%= f.label :due_date %>
    <%= f.date_select :due_date %>
  </div>

  <div class="field">
    <%= f.label :assigner_id %>
    <%= f.number_field :assigner_id %>
  </div>

  <div class="field">
    <%= f.label :priority_id %>
    <%= f.number_field :priority_id %>
  </div>

  <div class="field">
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>

  <div class="field">
    <%= f.label :issue_type_id %>
    <%= f.number_field :issue_type_id %>
  </div>

  <div class="field">
    <%= f.label :created_on %>
    <%= f.date_select :created_on %>
  </div>

  <div class="field">
    <%= f.label :estimated_hours %>
    <%= f.text_field :estimated_hours %>
  </div>

  <div class="field">
    <%= f.label :milestone_id %>
    <%= f.number_field :milestone_id %>
  </div>

  <div class="field">
    <%= f.label :start_date %>
    <%= f.date_select :start_date %>
  </div>

  <div class="field">
    <%= f.label :status_id %>
    <%= f.number_field :status_id %>
  </div>

  <div class="field">
    <%= f.label :project_id %>
    <%= f.number_field :project_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
