<%= form_for(project) do |f| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :archived %>
    <%= f.text_field :archived %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :key %>
    <%= f.text_field :key %>
  </div>

  <div class="field">
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>

  <div class="field">
    <%= f.label :text_formatting_rule %>
    <%= f.text_field :text_formatting_rule %>
  </div>

  <div class="field">
    <%= f.label :use_parent_child_issue %>
    <%= f.text_field :use_parent_child_issue %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
